Repository moveit/moveit2_tutorials: changes, and which pre-commit hooks are due for each by the changed paths.
All: misspelled-moveit, clang-format

misspelled-moveit:
  name: misspelled-moveit
  description: MoveIt should be spelled exactly as MoveIt
  language: pygrep
  entry: Moveit\W|MoveIt!|Moveit2|MoveIt2

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-14
  language: system
  args:
  - -fallback-style=none
  - -i

Update ci.yaml
  .github/workflows/ci.yaml
Due: misspelled-moveit

Update deploy.yml
  .github/workflows/deploy.yml
Due: misspelled-moveit

Back to building picknik_controllers from source
  .github/upstream.repos
  moveit2_tutorials.repos
Due: misspelled-moveit

Try a different repo
  .github/upstream.repos
  moveit2_tutorials.repos
Due: misspelled-moveit

Remove unnecessary blank line in config file
  .pre-commit-config.yaml
Due: none

Remove duplicate tf2_geometry_msgs from dependencies
  CMakeLists.txt
Due: misspelled-moveit

Update Realtime Servo tutorial for post-GSoC API changes
  doc/examples/realtime_servo/realtime_servo_tutorial.rst
Due: misspelled-moveit

Rewrite teleoperation guide for current Servo architecture
  doc/how_to_guides/controller_teleoperation/controller_teleoperation.rst
Due: misspelled-moveit

Fixed broken links detected by htmlproofer (#1074)
  doc/how_to_guides/isaac_panda/isaac_panda_tutorial.rst
Due: misspelled-moveit

Update GitHub Actions to use latest versions
  .github/workflows/format.yml
Due: misspelled-moveit

Update GitHub Actions to use latest versions
  .github/workflows/deploy.yml
Due: misspelled-moveit

Upgrade pre-commit hook versions
  .pre-commit-config.yaml
Due: none

Update Python version and GitHub Actions versions
  .github/workflows/deploy.yml
Due: misspelled-moveit

Downgrade Black and Codespell versions
  .pre-commit-config.yaml
Due: none

Change pre-commit hook revisions
  .pre-commit-config.yaml
Due: none

Downgrade pre-commit-hooks version to v3.4.0
  .pre-commit-config.yaml
Due: none

Initialize grasp_frame_transform to Identity in MTC tutorial
  doc/tutorials/pick_and_place_with_moveit_task_constructor/pick_and_place_with_moveit_task_constructor.rst
  doc/tutorials/pick_and_place_with_moveit_task_constructor/src/mtc_node.cpp
Due: misspelled-moveit, clang-format

Update links to panda_moveit_config repository (ROS 1 → ROS 2)
  doc/how_to_guides/stomp_planner/stomp_planner.rst
Due: misspelled-moveit

fix ament_target_deprecation
  CMakeLists.txt
  doc/examples/bullet_collision_checker/CMakeLists.txt
  doc/examples/collision_environments/CMakeLists.txt
  doc/examples/creating_moveit_plugins/lerp_motion_planner/CMakeLists.txt
  doc/examples/interactivity/CMakeLists.txt
  doc/examples/motion_planning_api/CMakeLists.txt
  doc/examples/motion_planning_pipeline/CMakeLists.txt
  doc/examples/motion_planning_python_api/CMakeLists.txt
  doc/examples/move_group_interface/CMakeLists.txt
  doc/examples/moveit_cpp/CMakeLists.txt
  doc/examples/planning_scene/CMakeLists.txt
  doc/examples/planning_scene_ros_api/CMakeLists.txt
  doc/examples/realtime_servo/CMakeLists.txt
  doc/examples/realtime_servo/src/pose_tracking_tutorial.cpp
  doc/examples/robot_model_and_robot_state/CMakeLists.txt
  doc/examples/tests/CMakeLists.txt
  doc/examples/visualizing_collisions/CMakeLists.txt
  doc/how_to_guides/kinematics_cost_function/CMakeLists.txt
  doc/how_to_guides/parallel_planning/CMakeLists.txt
  doc/how_to_guides/pilz_industrial_motion_planner/CMakeLists.txt
  doc/how_to_guides/trajectory_cache/CMakeLists.txt
  doc/how_to_guides/using_ompl_constrained_planning/CMakeLists.txt
  doc/tutorials/pick_and_place_with_moveit_task_constructor/CMakeLists.txt
  doc/tutorials/quickstart_in_rviz/CMakeLists.txt
  doc/tutorials/quickstart_in_rviz/test/bringup_test.cpp
  doc/tutorials/visualizing_in_rviz/visualizing_in_rviz.rst
Due: misspelled-moveit, clang-format

Upgrade github-script action to version 8
  .github/workflows/docker.yml
Due: misspelled-moveit

fix broken codedir link in perception_pipeline tutorial
  doc/examples/perception_pipeline/perception_pipeline_tutorial.rst
Due: misspelled-moveit

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Upgrade GitHub Actions to version 6
  .github/workflows/ci.yaml
Due: misspelled-moveit

Downgrade actions/cache from v6 to v5
  .github/workflows/ci.yaml
Due: misspelled-moveit

Update format.yml
  .github/workflows/format.yml
Due: misspelled-moveit

Fix path for AFTER_SETUP_UPSTREAM_WORKSPACE_EMBED
  .github/workflows/ci.yaml
Due: misspelled-moveit

Update URL for list of robots running MoveIt
  doc/examples/examples.rst
Due: misspelled-moveit

Update doc/how_to_guides/stomp_planner/stomp_planner.rst
  doc/how_to_guides/stomp_planner/stomp_planner.rst
Due: misspelled-moveit

Update setup-python action to version 6
  .github/workflows/format.yml
Due: misspelled-moveit

Update doc/how_to_guides/pilz_industrial_motion_planner/src/pilz_sequence.cpp
  doc/how_to_guides/pilz_industrial_motion_planner/src/pilz_sequence.cpp
Due: misspelled-moveit, clang-format

Update doc/how_to_guides/pilz_industrial_motion_planner/pilz_industrial_motion_planner.rst
  doc/how_to_guides/pilz_industrial_motion_planner/pilz_industrial_motion_planner.rst
Due: misspelled-moveit

Fix link to pilz_sequence.cpp in documentation
  doc/how_to_guides/pilz_industrial_motion_planner/pilz_industrial_motion_planner.rst
Due: misspelled-moveit

Update blog post link in OMPL tutorial
  doc/examples/ompl_interface/ompl_interface_tutorial.rst
Due: misspelled-moveit

Update installation instructions for MoveIt version
  doc/examples/planning_adapters/planning_adapters_tutorial.rst
Due: misspelled-moveit

Update image link and fix tutorial blog post URL
  index.rst
Due: misspelled-moveit

Update Dockerfile
  .docker/Dockerfile
Due: misspelled-moveit

WIP Fix; Failing CI build on rolling
  .github/workflows/ci.yaml
Due: misspelled-moveit

ATTEMPT Fix; Failing doc gen CI job
  .github/workflows/deploy.yml
Due: misspelled-moveit

ATTEMPT Fix; Failing doc gen CI job due to always building on rolling
  .github/workflows/deploy.yml
  htmlproofer.sh
Due: misspelled-moveit

ATTEMPT Fix; Failing doc gen CI job due to always building on rolling
  .github/workflows/deploy.yml
Due: misspelled-moveit

Path conditions:
  misspelled-moveit: any file but: .pre-commit-config.yaml
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
